
h1 {
  font-size: 32 px;
  font-color: #1abc91;
  font-family: arial;
}


p {
font-size: 16 px;
font-color: black;
font-family: arial;
}

a {
 font-size:16 px;
 font-color: white;
 font-family:arial;
  font-weight:bold;
}
